# A2 Bias In Data
_Data Source:  https://figshare.com/projects/Wikipedia_Talk/16731_

Overview of the project:  https://meta.wikimedia.org/wiki/Research:Detox
Overview of the data: https://meta.wikimedia.org/wiki/Research:Detox/Data_Release

In [20]:
import pandas as pd
import numpy as np

In [21]:
# set download directory path
dl_path = 'https://ndownloader.figshare.com/files/'

# import toxicity data
toxicity_annotations_RAW = pd.read_csv(dl_path + '7394539', sep='\t')
toxicity_annotated_comments_RAW = pd.read_csv(dl_path + '7394542', sep='\t')
toxicity_worker_demographics_RAW = pd.read_csv(dl_path + '7640581', sep='\t')

# # import aggression data
aggression_annotated_comments_RAW = pd.read_csv(dl_path + '7038038', sep='\t')
aggression_annotations_RAW = pd.read_csv(dl_path + '7394506', sep='\t')
aggression_worker_demographics_RAW = pd.read_csv(dl_path + '7640644', sep='\t')

# import personal attacks
attack_annotated_comments_RAW = pd.read_csv(dl_path + '7554634', sep='\t')
attack_annotations_RAW = pd.read_csv(dl_path + '7554637', sep='\t')
attack_worker_demographics_RAW = pd.read_csv(dl_path + '7640752', sep='\t')

In [22]:
attack_worker_demographics_RAW

      worker_id  gender  english_first_language age_group     education
0           833  female                       0     45-60     bachelors
1          1072    male                       0     30-45     bachelors
2           872    male                       0     18-30            hs
3          2116    male                       0     30-45  professional
4           453    male                       0     30-45            hs
...         ...     ...                     ...       ...           ...
2185       1442    male                       0     18-30            hs
2186        529  female                       0     30-45            hs
2187       2036  female                       0     18-30       masters
2188        393  female                       0     18-30       masters
2189       3876  female                       1     30-45     bachelors

[2190 rows x 5 columns]